/*Body styles*/
body {
	background-color: #D4F1F4;
	color: #05445E;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.header-text {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 25px;
}

.header-background {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #075171;
}

.header-left, .header-background {
  display: flex;
  flex-direction: row;
}

.header-left-img {
  position: relative;
  width: 110px;
  height: 110px; 
}

.page-content {
  margin-top: 10px;
}